/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000; */



body {
    height: 100vh;
    background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 40px;
}

h2 {
    margin-block-end: 10px;
}

p {
    font-size: 24px;
    font-weight: bold;
}

.parent-message-selector-box {
    margin: 40px;
}

form {
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

input[type=radio] {
    transform: scale(1.5);
    margin-right: 20px;
}

label {
    font-size: 20px;
    font-style: italic;
}

section {
    background-color: #ffffff;
    border-radius: 10px;
}

button {
    width: 200px;
    height: 30px;
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    background-color: #134d71;
    color: #ffffff;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.none {
    display: none;
}

.meditator {
    width: 80px;
    height: auto;
    margin: 4%
}

.message-selector-box {
    width: 580px;
    height: 110px;
}

.message-box {
    width: 860px;
    height: 160px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    color: #ffffff;
}